.vscode/
bin/
obj/
.env
/.vs/ConsoleApp1/FileContentIndex
/.vs/ConsoleApp1/CopilotIndices/17.14.1584.41681
/.vs/ConsoleApp1/CopilotIndices/17.14.1584.41681/CodeChunks.db-shm
/.vs/ConsoleApp1/CopilotIndices/17.14.1584.41681/CodeChunks.db-wal
/.vs/ConsoleApp1/CopilotIndices/17.14.1584.41681/SemanticSymbols.db-shm
/.vs/ConsoleApp1/CopilotIndices/17.14.1584.41681/SemanticSymbols.db-wal
